<div class="page-header"> 
  <span class="span10"><h1><%= @user.first_name%></h1></span>
  <%= link_to 'logout', destroy_user_session_path %>
</div>
<div class="hero-unit">
  <h3>Twitter twit successfully</h3>
  <p>
    <a class="btn btn-primary btn-large">
      post again
    </a>
  </p>
  <p>
    <a class="btn btn-primary btn-large">
      Show articles
    </a>
  </p>
  <p>
    <div id="tweets"></div>
  </p>
  
</div>
<script>
  jQuery(function($) {
    $("#tweets").liveTwitter('swapnilpatil04');
  })
</script>
